*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

#root, .App{
  height: 100%;
}

.game-board{
  width: 1500px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.characters{
  background-color: goldenrod;
  padding-bottom: 10px;
}

.characters:hover{
  cursor: pointer;
}

#show-game-over{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.game-over{
  display: none;
}